<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/css/plymenu.css">
</head>
<body>
    <!-- <p>Hey!</p> -->
    <div id="bg"></div>
    <div id="blob1" class="blob"></div>
    <div id="blob2" class="blob"></div>
    <div id="blob3" class="blob"></div>
    <div id="blob4" class="blob"></div>
    <div id="plyshadow" class="blob"></div>
    <div id="plyblob" class="blob"></div>
    <!-- <svg viewBox='0 0 500 500' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg' style='display: none;'>
        <filter id='noiseFilter'>
          <feTurbulence
            type='fractalNoise'
            baseFrequency='.75'
            numOctaves='2'
            stitchTiles='stitch'/>
        </filter>
      </svg> -->

      <div class="footer noisy">
          <h3>Palomino</h3>
          <h4>Development Pre-Alpha</h4>
      </div>
</body>
</html>