<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/css/plymenu.css">
</head>
<body>
    <!-- <p>Hey!</p> -->
    <div id="bg"></div>

    <div class="footer">
        <div class="left-side">PRE-RELEASE DEVELOPMENT VERSION</div>
        <div class="right-side">
            <a>P-API v0.1</a>
            <a>PALOMINO ROLEPLAY v0.1</a>
        </div>
    </div>
</body>
</html>
